
body {
    font-family: 'Poppins', sans-serif;
}

/*HEADER*/
.title {
    text-align: center;
}

.title titulo-1 {
    font-size: 400%;
}

.title titulo-2 {
    font-size: 600%;
}

.title p {
    text-align: center;
}



/*MAIN*/
.cards {
}



/*p {
    text-align: center;
}*/

.attribution {
    font-size: 11px; 
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

