
body {
    padding: 20px;
    padding-top: 50px;
    padding-left: 25px;
    font-family: 'Poppins', sans-serif;
}

/*HEADER*/
.title {
    text-align: center;
}

.title titulo-1 {
    font-size: 400%;
}

.title titulo-2 {
    font-size: 600%;
    font: bold;
}

p {
    text-align: center;
}



/*MAIN*/
.cards {
}



/*p {
    text-align: center;
}*/

.attribution {
    align-items: baseline;
    font-size: 11px; 
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

